.git
.gitignore
.env
.vscode
**/__pycache__
**/*.pyc
venv
.venv
**/*.egg-info
docs
*.fig
frontend/node_modules
frontend/dist
ml_models/difficulty_classifier/_cache_desc.csv
ml_models/difficulty_classifier/_cache_stats.csv
ml_models/tag_classifier/leetcode.csv
ml_models/tag_classifier/figures
ml_models/tag_classifier/train.py
ml_models/tag_classifier/train_new.py
ml_models/difficulty_classifier/figures
docs/ml_docs
_check_html.py
_check_tags.py
